<div *ngIf="organizacion" class="org-badge" [class.org-badge-sm]="size === 'sm'">
  <app-base64-image
    [src]="organizacion.logoImg"
    [alt]="organizacion.nombre"
    [maxHeight]="logoHeight"
  ></app-base64-image>
  <div>
    <div class="org-badge__name" [class.small]="size === 'sm'">
      <a
        *ngIf="showLink && organizacion.urlWeb; else plainName"
        [href]="organizacion.urlWeb"
        target="_blank"
        rel="noopener noreferrer"
      >{{ organizacion.nombre }}</a>
      <ng-template #plainName>{{ organizacion.nombre }}</ng-template>
    </div>
    <span class="org-badge__location" *ngIf="organizacion.ubicacion">{{ organizacion.ubicacion }}</span>
  </div>
</div>
