.DS_Store
Thumbs.db
Desktop.ini

.idea/
*.iml
*.iws
*.ipr
.project
.classpath
.settings/

.env
.env.*

*.log
logs/

back_local/src/main/resources/application.properties
back_local/src/main/resources/application-local.properties
back_local/src/main/resources/application-dev.properties
