<div class="row">
    <h1 class="display-4">Educación</h1>

    <div class="col-lg-2">
        <button type="button" class="btn btn-dark agrego" routerLink="/nuevaedu" *ngIf="isLogged">
            <i class="bi bi-plus-circle-fill mas"></i>
        </button>

    </div>

</div>


<div class="row">
    <div class="card text-center col-sm-4 col-md-4 col-lg-4 carta color" style="width: 18rem;"
        *ngFor="let Educacion of educacion">
        <a href="{{Educacion.img}}" target="blank"><img src="{{Educacion.img}}" class="card-img-top" alt="..."></a>
        <div class="card-body color">
            <h4 class="card-title">{{Educacion.nombreE}}</h4>
            <i>
                <h5 class="card-text">Inicio: {{Educacion.anocomienzo}}</h5>
            </i>
            <p class="card-text">{{Educacion.descripcionE}}</p>


            <button *ngIf="isLogged" class="btn btn-secondary boton" routerLink="/editedu/{{Educacion.id}}">
                <i class="bi bi-pen-fill"></i>
            </button>


            <button *ngIf="isLogged" class="btn btn-danger boton" (click)="delete(Educacion.id)">
                <i class="bi bi-trash3-fill"></i></button>

        </div>
    </div>

</div>



<!--
<div class="row">

<h1>Educación</h1>
<div class="card mb-2 text-center col-sm-4 col-md-4 col-lg-4 carta color" style="width: 30rem" *ngFor="let Educacion of educacion">
    <img src="https://static.abc.es/media/ciencia/2022/04/28/AdobeStock_293422760-kvsC--620x349@abc.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{Educacion.nombreE}}</h5>
      <p class="card-text">Fecha Inicio</p>
      <p class="card-text">{{Educacion.descripcionE}}</p>
      
      <button *ngIf="isLogged" class="btn btn-secondary" routerLink="/editedu/{{Educacion.id}}">
        <i class="bi bi-pen-fill"></i>
    
    </button>


    <button *ngIf="isLogged" class="btn btn-danger" (click)="delete(Educacion.id)">
        <i class="bi bi-trash3-fill"></i></button>
    </div>
  </div>


</div>

-->