<section class="section section--default" *ngFor="let Persona of persona">
  <div class="section__inner">
    <div class="profile-section">
      <div class="profile-section__photo-wrap">
        <img
          *ngIf="isUrl(Persona.img)"
          [src]="Persona.img"
          class="profile-section__photo"
          [alt]="Persona.nombre + ' ' + Persona.apellido"
        />
        <app-base64-image
          *ngIf="!isUrl(Persona.img)"
          [src]="Persona.img"
          [alt]="Persona.nombre + ' ' + Persona.apellido"
          cssClass="profile-section__photo"
          maxHeight="100%"
        ></app-base64-image>
      </div>

      <div class="profile-section__info">
        <div class="profile-section__header">
          <div class="profile-section__identity">
            <h2 class="profile-section__name">{{ Persona.nombre }} {{ Persona.apellido }}</h2>
            <p class="profile-section__profession">{{ Persona.profesion }}</p>
          </div>
          <div class="admin-actions admin-actions--inline" *ngIf="isLogged">
            <button
              class="btn-pf btn-pf--edit btn-pf--icon-sm"
              routerLink="/editinfop/{{ Persona.id }}"
              data-tip="Editar perfil"
              aria-label="Editar perfil"
            >
              <i class="bi bi-pencil-square"></i>
            </button>
          </div>
        </div>

        <h3 class="profile-section__bio-title">Información Personal</h3>
        <p class="profile-section__bio">{{ Persona.acercaDe }}</p>
      </div>
    </div>
  </div>
</section>
