

.row{
    
    
    background-color:#72FFFF;
    
}

h1{
    padding-top: 50px;
    margin-left: 20px;
}

.agrego{
    margin-left: 20px;
}

div{
    background-color:#72FFFF;
  
}

.carta{   
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;

}

.carta:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}

.color{
    background-color: white;
    
}

.boton{
    margin-left: 10px;
}

img{
    width: 16rem;
    height: 18rem;
}

.mas {
    font-size: 2em;
  }

p{
    margin-top: 5px;
}


@media (max-width: 700px) { 
    img{
        width: 13rem;
        height: 13rem;
    }

}



