<div class="hero-bar">
  <div class="hero-bar__inner">
    <div class="hero-bar__logo">
      <a
        href="https://www.linkedin.com/school/programa-argentina/about/"
        target="_blank"
        rel="noopener noreferrer"
        title="#Yo Programo"
      >
        <img src="../../../assets/Logo ArgentinaP.png" class="hero-bar__logo-img" alt="#Yo programo">
      </a>
    </div>

    <div class="hero-bar__actions">
      <div class="hero-nav">
        <button
          type="button"
          class="btn-pf btn-pf--ghost btn-pf--icon-sm hero-nav__toggle"
          (click)="toggleMenu($event)"
          [attr.aria-expanded]="menuOpen"
          aria-controls="hero-nav-menu"
          data-tip="Menú"
          data-tip-pos="bottom"
          aria-label="Abrir menú de secciones"
        >
          <i class="bi" [ngClass]="menuOpen ? 'bi-x-lg' : 'bi-list'" aria-hidden="true"></i>
        </button>

        <div
          class="hero-nav__backdrop"
          *ngIf="menuOpen"
          aria-hidden="true"
          (click)="closeMenu()"
        ></div>

        <nav
          id="hero-nav-menu"
          class="hero-nav__panel"
          [class.hero-nav__panel--open]="menuOpen"
          [attr.aria-hidden]="!menuOpen"
        >
          <p class="hero-nav__label">Ir a</p>
          <a
            *ngFor="let item of navItems"
            class="hero-nav__link"
            [href]="'#' + item.id"
            (click)="goToSection($event, item.id)"
          >
            <i class="bi" [ngClass]="item.icon" aria-hidden="true"></i>
            <span>{{ item.label }}</span>
          </a>
        </nav>
      </div>

      <button
        type="button"
        class="btn-pf btn-pf--add"
        (click)="openForm('create')"
        *ngIf="isLogged"
        data-tip="Agregar red social"
        data-tip-pos="left"
        aria-label="Agregar red social"
      >
        <i class="bi bi-plus-lg"></i>
      </button>

      <div class="social-links">
        <div class="social-item" *ngFor="let Redsocial of redsocial">
          <a
            [href]="Redsocial.link"
            target="_blank"
            rel="noopener noreferrer"
            class="social-links__link"
            [title]="Redsocial.nombreRedS"
          >
            <img
              *ngIf="isUrl(Redsocial.img)"
              [src]="Redsocial.img"
              [alt]="Redsocial.nombreRedS"
              class="social-links__icon"
            />
            <app-base64-image
              *ngIf="!isUrl(Redsocial.img)"
              [src]="Redsocial.img"
              [alt]="Redsocial.nombreRedS"
              cssClass="social-links__icon"
              maxHeight="2.5rem"
            ></app-base64-image>
          </a>

          <div class="social-item__admin" *ngIf="isLogged">
            <button
              type="button"
              class="btn-pf btn-pf--edit btn-pf--icon-sm"
              (click)="openForm('edit', Redsocial.id!)"
              data-tip="Editar red social"
              data-tip-pos="bottom"
              aria-label="Editar red social"
            >
              <i class="bi bi-pencil-square"></i>
            </button>
            <button
              class="btn-pf btn-pf--delete btn-pf--icon-sm"
              (click)="delete(Redsocial.id)"
              data-tip="Eliminar red social"
              data-tip-pos="bottom"
              aria-label="Eliminar red social"
            >
              <i class="bi bi-trash"></i>
            </button>
          </div>
        </div>
      </div>

      <button
        type="button"
        class="btn-pf btn-pf--ghost btn-pf--auth"
        (click)="login()"
        *ngIf="!isLogged"
        data-tip="Ingresar"
        data-tip-pos="bottom"
        aria-label="Ingresar"
      >
        <i class="bi bi-box-arrow-in-right"></i>
      </button>
      <button
        type="button"
        class="btn-pf btn-pf--ghost btn-pf--auth"
        (click)="onLogOut()"
        *ngIf="isLogged"
        data-tip="Cerrar sesión"
        data-tip-pos="bottom"
        aria-label="Cerrar sesión"
      >
        <i class="bi bi-box-arrow-right"></i>
      </button>
    </div>
  </div>
</div>
