<div class="row">
  <div class="card text-bg-dark banner-card" *ngFor="let Banner of banner">
    <img
      *ngIf="isUrl(Banner.img)"
      [src]="Banner.img"
      class="card-img banner-slide-img"
      [alt]="Banner.titulo"
    />
    <app-base64-image
      *ngIf="!isUrl(Banner.img)"
      [src]="Banner.img"
      [alt]="Banner.titulo"
      cssClass="card-img banner-slide-img"
      maxHeight="100%"
    ></app-base64-image>

    <div class="card-img-overlay">
      <h1 class="card-title text-center abajo">{{ Banner.titulo }}</h1>

      <button *ngIf="isLogged" class="btn btn-secondary boton" routerLink="/editbanner/{{ Banner.id }}">
        <i class="bi bi-pen-fill"></i>
      </button>
    </div>
  </div>
</div>
