.proy-img,
.proy-image .base64-image-wrapper,
.proy-image .base64-image-wrapper img {
  width: 100%;
  max-height: 220px;
  object-fit: cover;
  display: block;
}

.proy-image .base64-image-wrapper {
  max-height: 220px;
}
